
<h1>Principal Template</h1>

<div class="row">
    <div id = "one" class="column">
        <h3>Zebra Class</h3>
        <p>Hello</p>
    </div>
    <div id = "two" class="column">
        <h3>Gator Class</h3>
        <p>Hello</p>
    </div>
    <div id = "three" class="column">
        <h3>Lion Class</h3>
        <p>Hello</p>
    </div>
    <div id = "four" class="column">
        <h3>Not Zebra Class</h3>
        <p>Hello</p>
    </div>
</div>

</br>
</br>
</br>
</br>
</br>
