<style>
body {
  margin: 40px;
  margin-top: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: yellow;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
a:link{
    color: yellow;
}
a:visited{
    color: yellow;
}
</style>
<h1>Classes</h1>
    <div id = "wrapper" class="wrapper">

    </div>


</br>
</br>
</br>
</br>
</br>

<script>
 
var classTiles = function(x) {
    for (j = 0; j < x.length; j++) { 
        var tempValue = "box";
        var team = document.createElement("h1");
        team.setAttribute("class", tempValue);
        var linkTag = document.createElement("a");
        var linkText = document.createTextNode(x[j]);
        linkTag.appendChild(linkText);
        linkTag.title = x[j];
        linkTag.href = '<%= teams_path_url %>/' + encodeURIComponent(x[j]);
        team.appendChild(linkTag);
        document.getElementById("wrapper").append(team);



    }
}
$.getJSON('<%= teams_path_url %>', function (result) {
  classTiles(result);
});

</script>
