<% item1 = 10 %>

<div class = "div-boxes">
    <h1 id = "team85-logo">TEAM 85</h1>
    <h3>Welcome to TEAM 85's Zeel's Legs of Steel Apllication</h3>
</div>

<div class = "div-boxes">
    <p>If you are a Zeel's Legs of Steel member please <strong>Log in</strong></p>
</div>

<div class = "div-boxes">
    <h5>Inspired by the FIRST robotics innovation challenge<h5>
</div>

<div class = "div-boxes">
    <p>Info about the FIRST Robotics team</p>
</div>

<div class = "div-boxes">
    <h3>"You behave as if your grandma were right beside you"-Woody Flowers</h3>
</div>

<div class = "side-bar">
    <div class = "side-bar-text">
        <h4>Total Miles Run</h4>
        <%= item1 %>
    </div>

    <div class = "side-bar-text">
        <h4>Total Laps Run</h4>
    </div>

    <div class = "side-bar-text">
        <h4>Schools Impacted</h4>
    </div>
</div>